.DictMgrTPage .ltree {
  padding: 10px 4px;
  width: 195px;
  background-color: #def;
}

#idDictMgrTPage_category {
  min-height: 500px;
}

.DictMgrTPage .rtbl {
  padding: 6px;
}

.DictMgrTPage .rtb {
  padding: 1px 1px 7px;
}

.DictMgrTPage .tb {
  border-bottom: 1px solid #bbb;
  padding: 8px 12px;
  background-color: #fcfcfc;
}

/**-------------Tabs_BlankPage-----------------**/
.AbstractDictMgrPage .Tabs_BlankPage .Tabs_cc {
  border: 0;
}

.AbstractDictMgrPage .Tabs_BlankPage .Tabs_tb {
  background-color: #f9f9f9;
  border: 0;
  border-bottom: 1px solid #c22;
  padding: 8px 10px;
}
